
<div class="all">
  <h4>All Students 所有學生</h4>
  <div ng-if="$ctrl.students.length!==0">
    <button ng-click="$ctrl.randomPick()" class="btn">Randomly Pick One</button>
    <form>
      <label>Group Size(小組成員數量): </label>
      <input ng-model="$ctrl.groupsize" type="text" />
      <input ng-click="$ctrl.groupThem()" type="submit" value="Randomly Group Them!" />
    </form>
    <student ng-repeat='student in $ctrl.students' student="student"></student>
  </div>

  <div ng-if="$ctrl.students.length===0">
  You have not yet add any students!
  </div>
  <button ng-if="$ctrl.students.length!==0" ng-click="$ctrl.clearDB()" class="btn">Clear database (CAUTION!)</button>
</div>