<div>
  <h1>Random Select :)</h1>
  <student-form students="$ctrl.allStudent" reset-selected="$ctrl.resetSelected" dup="$ctrl.dupAll" setall="$ctrl.setAll"></student-form>
  <all-student students="$ctrl.allStudent" selected="$ctrl.selected" selected-list="$ctrl.selectedList" dup="$ctrl.dupAll" setgroup="$ctrl.setGroup" setall="$ctrl.setAll"></all-student>
  <random-panel selected="$ctrl.selected" selectedlist="$ctrl.selectedList" reset="$ctrl.resetSelected"></random-panel>
  <group-panel groupobj="$ctrl.groupObject" groupnumarray="$ctrl.groupNumArray" resetgroup="$ctrl.resetGroup"></group-panel>
<div>